.container {
  max-width: 1170px;;
  margin: 0 auto;
}

.container-main {
  width: 1250px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.padding-bottom5 {
  padding-bottom: 5px;
}

.w50perc {
  width: calc(100% / 2);
}

.w33perc {
  width: calc(100% / 3 - 20px);
}

.w25perc {
  width: calc(100% / 4);
}

.text-center {
  text-align: center;
}

li, i {
  cursor: pointer;
}
