.copyright-banner {
  background-color: $navcolor;
  padding: 10px 0;
}

.container {
  justify-content: space-between;
}

.copyright-logo {
  justify-content: space-between;
  img {
    padding-right: 35px;
  }
}

.copyright-right {
  ul {
    align-items: center;
    li {
      color: $cmdcolor;
      margin-right: 15px;
      font-size: 13px;
      &:last-child {
        color: #fff;
      }
    }
  }
}

@media all and (max-width: 576px) {
  .copyright-banner > .container {
    display: block;
  }

  .copyright-logo {
    justify-content: center;
    margin-left: 40px;
  }

  .copyright-logo > img {
    margin-right: 10px;
    padding-right: 0;
  }

  .copyright-left {
    margin-bottom: 15px;
  }

  .copyright-right > ul {
    display: inline;
    padding-left: 15px;
  }

  .copyright-right > ul > li {
    display: inline;
  }

  .copyright-right ul li:last-child {
    margin-top: 15px;
    display: block;
  }
}
