.nav {
padding: 8px 0;
}

.logo {
  img {
    width: 100px;
  }
}

.fa-angle-down {
  font-size: $caretfont;
  opacity: 0.7;
}

.nav-list {
  align-items: center;
  ul {
    li {
      display: inline-block;
      color: $primarycolor;
      margin: 0 20px;
    }
  }
}
