.logo {
  img {
    width: 95px;
  }
}

.fa-angle-down {
  font-size: $caretfont;
  opacity: 0.7;
}

.nav-menu {
  padding-top: 10px;
}

.nav-list {
  align-items: center;
  ul {
    li {
      display: inline-block;
      color: $primarycolor;
      margin: 0 25px;
      font-size: $primaryfont;
    }
  }
}
