$cmdcolor: #989898;
$cmdicon: #009cff;
$primarycolor: #fff;
$navcolor: #000;
$caretfont: 10px;
$primaryfont: 13px;
$subtitleweight: lighter;
$offer: #c70eb8;
$cardpadding: 20px 20px;
$linkcolor: #009cff;
$mainbg: #e8e8e8;
$cardtext: #fff;
$cardtitle: 500; 
