$cmdcolor: #989898;
$cmdicon: #009cff;
$primarycolor: #fff;
$navcolor: #000;
$caretfont: 10px;
$primaryfont: 13px;
$subtitleweight: lighter;
$offer: #c70eb8;
$cardpadding: 20px 20px;
$linkcolor: #009cff;
$bodybg: #e8e8e8;
$cardtext: #fff;
$cardtitle: 500;
$wacom: #3c1567;
$painter: #3c3c3c;
$business: #0072bc;
$footer: #ececec;
$facebook: #3b5998;
$instagram: #e4405f;
$twitter: #1da1f2;
$youtube: #cd201f;
$pinterest: #bd081c;
$feed: #ff8d00;
